body {
  background-color: whitesmoke;
  border-radius: 4px;
  font-family: 'VT323', monospace, sans-serif;
}

.MessageArea-Title {
  background-image: linear-gradient(to bottom right, #063825, #0f7e53);
  color: white;
  margin: 0;
  text-align: left;
  padding: 10px 0px 10px 30px;
  border-bottom: #3f3 1px solid;
}

.Chat-name {
  font-style: oblique;
}

.App-name {
  font-weight: 800;
}

.Welcome-message {
  background-color: #0f7e53;
  color: white;
  margin: 0;
  text-align: center;
  padding: 5px;
}
.side-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  padding: 10px;
  /* background-color: #0f7e53; */
  background-image: linear-gradient(to right, #0f7e53, #063825);
  color: white;
  list-style-type: none;
  border-left: #3f3 1px solid;
}

.message-area {
  margin-right: 25%;
  width: 75%;
  overflow-x: hidden;
  overflow-y: auto;
}

.MessageArea-Title-Sidebar {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: larger;
  color: white;
  margin: 0;
  text-align: left;
  padding: 10px 0px 15px 10px;
}

.Chat-name-sidebar {
  font-style: oblique;
}

.App-name-sidebar {
  font-weight: 800;
}
