.ConnectedUsersBox {
  margin-top: 100px;
}

.new-direct-messages {
  color: white;
  background-color: red;
  width: 20px;
  border-radius: 5px;
  text-align: center;
  float: right;
  margin-top: 10px;
}
