/* body {
  background-color: whitesmoke;
} */

.side-panel {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  padding: 10px;
  background-color: #0f7e53;
  color: white;
}

.message-area {
  /* background-color: whitesmoke; */
  /* position: fixed; */
  margin-right: 25%;
  width: 75%;
  overflow-x: hidden;
  overflow-y: auto;
}
