.container-left {
  width: 100%;
  height: 100%;
}

.text-left {
  font-family: 'Franklin Gothic Medium';
  /* font-family: 'arial black'; */
  color: green;
  font-size: 100px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 10%;
  margin-left: 40%;
  transform: translateX(200%);
  opacity: 0;
  animation: slide-in-anim-left 2.5s ease-out forwards;
  z-index: 1;
}

@keyframes slide-in-anim-left {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(-52%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}

/* RIGHT SIDE */
.container-right {
  width: 100%;
  height: 100%;
}

.text-right {
  font-family: 'arial black';
  color: green;
  font-size: 100px;
  text-align: center;
  padding: 0;
  margin-top: -40px;
  margin-left: 55%;
  transform: translateX(-400%);
  opacity: 0;
  animation: slide-in-anim-right 2.5s ease-out forwards;
  z-index: 1;
}

@keyframes slide-in-anim-right {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(-52%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}
